    <h1>{{ title }}</h1>
    <p>Upload a photo to your account below.</p>
    <form action="/photos/upload" method="post" enctype="multipart/form-data">
        <div class="row">
          <div class="col-sm-4">
            <div class="thumbnail text-center">
              <img id="imgPreview" src="/images/thumbnail-default.jpg" alt="Your image">
            </div>
            <p><input type="text" class="form-control" name="name" placeholder="Title"></p>
            <p><input type="file" class="form-control" name="image"></p>
            <p><input type="submit" class="btn btn-primary" value="Upload"></p>
          </div>
        </div>
    </form>

    <script type="text/javascript">
      var imgContent = document.querySelector('input[name="image"]');

      imgContent.onchange = function () {
        var reader = new FileReader();

        reader.onload = function (evt) {
          // get loaded data and render thumbnail
          var showImg = document.getElementById('imgPreview');
          showImg.src = evt.target.result;
        };

        // read the image file as a data URL
        reader.readAsDataURL(this.files[0]);
      }
    </script>
